.menu-root {
    -fx-background-color: linear-gradient(to bottom, #3b5998, #192f6a);
}

.menu-button {
    -fx-font-size: 14px;
    -fx-background-color: #f5f5f5;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-text-fill: #333;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 3, 0, 1, 1);
}

.menu-button:hover {
    -fx-background-color: #e0e0e0;
}